  <div class="row cuerpo">
    <div class="row justify-content-center align-items-center">
      <div class="row">
        <h1 class="titulos">{{ accion === 'new' ? 'Agregar Local' : 'Modificar Local' }}</h1>
      </div>
      <div class="row justify-content-center align-items-center p-2">
        <form class="justify-content-center align-items-center formulario" #formLocal="ngForm">
          <div>
            <label for="nombreLocal" class="col-form-label">Nombre Local</label>
            <input [(ngModel)]="local.nombreLocal" type="text" id="nombreLocal" name="nombreLocal" class="form-control" aria-describedby="passwordHelpinline" placeholder="Ingrese local" required #name="ngModel">
            <div class="alert alert-danger m-2" [hidden]="name.valid || name.pristine">
              El nombre del local es obligatorio
            </div>
          </div>
          <div>
            <label for="superficie" class="col-form-label">Superficie</label>
            <input [(ngModel)]="local.superficie" type="text" id="superficie" name="superficie" class="form-control" aria-describedby="passwordHelpinline" placeholder="Ingresa la superficie (AnchoxLargo)" required #super="ngModel">
            <div class="alert alert-danger m-2" [hidden]="super.valid || super.pristine">
              La superficie es obligatoria
            </div>
          </div>
          <div>
            <label for="habilitado" class="col-form-label">Local Habilitado:</label>
            <div class="form-check">
              <input [(ngModel)]="local.habilitado" type="checkbox" id="habilitado" name="habilitado" class="form-check-input">
              <label class="form-check-label" for="habilitado">Habilitado</label>
            </div>
          </div>
          <div>
            <label for="costoMes" class="col-form-label">Costomes</label>
            <input [(ngModel)]="local.costoMes" type="number" id="costoMes" name="costoMes" class="form-control" aria-describedby="passwordHelpinline" placeholder="Ingresa el costomes" required min="1" #disfraces="ngModel">
            <div class="alert alert-danger m-2" [hidden]="disfraces.valid || disfraces.pristine">
              El costo mensual debe ser mayor o igual a 1
            </div>
          </div>
          <div>
            <label for="pathimagen" class="col-form-label">Cargar Imagen</label>
            <input [(ngModel)]="local.pathimagen" type="text" id="pathimagen" name="pathimagen" class="form-control" aria-describedby="passwordHelpinline" placeholder="Ingrese url imagen" required #url="ngModel">
            <div class="alert alert-danger m-2" [hidden]="url.valid || url.pristine">
              La url es obligatoria
            </div>
          </div>
          <div>
            <label for="alquilado" class="col-form-label">Local Alquilado:</label>
            <div class="form-check">
              <input [(ngModel)]="local.alquilado" type="checkbox" id="alquilado" name="alquilado" class="form-check-input">
              <label class="form-check-label" for="alquilado">Alquilado</label>
            </div>
          </div>
          <div class="col-auto mt-2 centered">
            <a class="btn btn-danger">Cancelar</a>
            <button *ngIf="accion === 'new'" type="submit" class="btn btn-info mr-2" [disabled]="formLocal.invalid" (click)="registrarLocal()">Guardar Local</button>
          <button *ngIf="accion === 'update'" type="button" class="btn btn-primary" [disabled]="formLocal.invalid" (click)="modificarLocal(local)">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="ticketGuardadoModal" tabindex="-1" aria-labelledby="ticketGuardadoModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content modal-cuerpo">
        <div class="modal-header">
          <h5 class="modal-title" id="ticketGuardadoModalLabel">Ticket Guardado</h5>
          <button type="button" class="btn-close" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          Ticket guardado exitosamente.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" >Cerrar</button>
          <button type="button" class="btn btn-info" >Aceptar</button>
          <!--<a [routerLink]="['productos',0]" class="btn btn-info">Ir a Destacados</a>-->
        </div>
      </div>
    </div>
  </div>
  
